/*
 * This sheet will be loaded at last from site-header.inc
 * It is Tweaking the styles for special needs of this site
 */

body {
   background: none;
}

div.root {
   min-height:0;
}

div.content {
   background-image:url(images/page-bg-alt.png);
}

blockquote {
   margin: 0 2em;
   font-style: italic;
}

.memberlist li {
   display: inline;
   width: 33%;
   float: left;
}

img.noborder {
   margin: 0;
   padding: 0;
   border: none;
}

/* Correct for inconsistent indent of headers in Chihuahua */
#main h1 { padding-left: 0px; }

/* set colors in <li> to same as body */
#main li { color: #444; }

/* "Quick links" table */

table.qlblock { width: 100%; }
table.qlblock td { width: 25%; }
.qlblock img { float: left; }

/* The list of board members in corporate/board.php */

#main table.tableboardofdirectors tr:hover, #main table.rolelist tr:hover {
   background-image:none;
}
table.rolelist td.role {
   font-weight: bold;
}

/* Massage the plasma menu */
.header .menubox_body .menubox_title {
   display: none !important;
}

.header .menubox_sep {
   display: none !important;
}

/* Table on the news page */

.news_table .table_box {
   border: none !important;
   margin: 0px !important;
}
.news_table .table_box tr:hover {
   background-image: none !important;
}
.news_table .table_box td.newsbox2 {
   padding-left: 20px !important;
}
.news_table .table_box h3 {
   margin-left: -20px !important;
}

.people-picture {
  float: left;
  margin-right: 20px;
}
.people-email {
  font-style: italic;
}
.people-title {
  font-weight: bold;
}

table.timeline td {
  background-color: #ddd;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
td.timeline-spacer {
  height: 30px;
}
table.timeline th {
  background-color: #aaa;
  padding-left: 10px;
  padding-right: 10px;
}
th.timeline-header {
  width: 150px;
  padding: 10px;
}
