<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                    <h2><img src="images/logos/kde-logo.png"/> Featured Article &#8210; KDE Goals</h2>
                    <h5>By Paul Brown</h5>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="">
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>One of the most appealing things about being a volunteer in a Free Software community is that you can work on whatever you feel like. However, communities need to not only provide an umbrella for the free spirit of its participants, but also have common goals that move everybody in the same general direction and fulfil the shared ambitions of the whole.</p>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>So, how does the KDE community decide where it wants to take the project? Every once in a while, we hold a Request for Goals. KDE members are encouraged to submit their grand ideas that will lay out the long-term objectives for the rest of community. Proposals are voted on democratically, again, by the community. This ensures it is truly the people that guide the KDE project to wherever it wants to go.</p>
                            
                            <p>Back in 2017, the community made such a vote and set the goals for KDE for the following three to five years. The three most voted goals were:</p>
                            <ul>
                                <li> Improve the usability and productivity for basic software</li>
                                <li> Offer users a complete software environment that helps them to protect their privacy</li>                                
                                <li> Streamline the onboarding of new contributors</li>
                            </ul>
                            
                            <p>Let's look at the progress that the community has made in each of these areas.</p>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <h3>Improve the usability and productivity for basic software</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <figure class="image-right">
                                <img width="100%" src="images/01_featured_dolphinbookmarks.png" alt=""/>
                                <figcaption>The productivity and usability team work constantly fixing bugs and papercuts so that Plasma offers a consistent and pleasurable experience for users.</figcaption>
                            </figure>

                        
                            <p>Nate Graham proposed improving the usability of KDE's software to make it more accessible and user-friendly for a wider variety of users. Nate argued that, although KDE apps and environments in general boasted a "long list of features that are genuinely useful for normal people's typical use cases", small but noticeable inconsistencies and niggling usability issues sometimes marred KDE's semblance of maturity with casual users. Focusing on irksome details of the most common and commonly used KDE software, such as Plasma, Dolphin, Okular and Discover, would be the first step towards polishing the whole user experience.</p>

                            <p>To achieve this goal, developers are encouraged to focus not only on adding new features, but on refining existing ones. An example is making sure that applications in the KDE family share common keyboard shortcuts. Something as trivial as having the [Ctrl] + [L] shortcut taking the focus to the URL bar in the Dolphin file manager as well as in KDE's default image viewer, Gwenview, gives a sensation of consistency and boosts the user's productivity since they don't have to train their muscle memory for each individual KDE app.</p>

                            <p>Nate chronicles the progress by publishing weekly reports on <a href="https://pointieststick.com/">his blog</a>, explaining the changes made to solve those “papercut” issues. Every new release of KDE Applications now lists the usability and design upgrades alongside new features. Taken separately, those upgrades may seem minor, but they substantially improve the users' experience and the general impression of KDE’s sofware among new and long-time users alike.</p>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                        <div class="service-info">
                            <h3>Protecting users' privacy</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                        <div class="service-info">
                            <figure class="image-left">
                                <img width="100%" src="images/01_featured_plasmaphone.png" alt=""/>
                                <figcaption>KDE aims to protect users' privacy and uphold their digital rights through Plasma, Plasma Mobile and KDE applications.</figcaption>
                            </figure>
                            <p>In synch with <a href="https://community.kde.org/KDE/Vision">KDE's vision statement</a>, Sebastian Kügler noted that "KDE is in a unique position to offer users a complete software environment that helps them protect their privacy". Being in that position, Sebastian explained, KDE as a FLOSS community is morally obliged to do its utmost to provide the most privacy-protecting environment for users.</p>

                            <p>This is especially true since KDE has been developing not only for desktop devices, but also for mobile - an area where the respect for users' privacy is nearly non-existent. Sebastian argued that the intrusion on users' personal lives is very dangerous. Users can have their livelihood and even personal safety put at risk when their confidential data makes its way into the hands of unscrupulous companies, scammers, or hostile government agencies.</p>

                            <p>To make sure that KDE’s environment and apps protect users' privacy, developers have been working on several measures, such as stopping applications from exposing private data by default or defaulting to using privacy-protecting protocols when communicating with the outside world. Applications are being re-written to require the bare minimum user information to operate, and only use it when it is essential.</p>

                            <p>Concrete measures the privacy team is carrying out range from the very simple - like inserting a tray icon to indicate the microphone is in use, so you can actually see when it is active - to much deeper changes that affect the whole desktop, like "Torifying" all communications from all native applications. This would have the effect of making it difficult for snoopers to track petitions and messages back to the emitter. Also in the works is a proxy that will control what leaves your system, as well as protections for when you are on the move and may find yourself interacting on an insecure or hostile network.</p>

                            <p>The work being carried out on Plasma Mobile, KDE's mobile device-enabled environment, is moving in the same direction as that of the Plasma Desktop. Indeed, most Plasma developers are also working to some extent on the mobile version. Furthermore, KDE frameworks such as Kirigami are designed to allow app developers to produce utilities for both platforms (as well as Android, iOS, Windows and macOS) simultaneously. Besides, working as we are with hardware manufacturers, KDE expects to be instrumental in the creation of a secure and privacy-respecting mobile phone with a user-friendly environment and a full suite of applications in the next few years.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                        <div class="service-info">
                            <h3>Streamline the onboarding of new contributors</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                        <div class="service-info">
                            
                            <p>Although we have made many improvements to KDE's development infrastructure and tools over the years, there are still several things we can do to streamline the access for contributors. Thinking of ways to get more people involved in the development, Neofytos Kolokotronis proposed measures to simplify newcomer participation within KDE.</p>

                            <figure class="image-full">
                                <img width="100%" src="images/01_featured_akademy.jpg" alt=""/>
                                <figcaption>Thanks to Community onboarding efforts, nearly half the attendees were new KDE members at Akademy 2018.</figcaption>
                            </figure>

                            <p>A year on, "the biggest achievement of the Onboarding goal is that it has been adopted by the wider community as a long-term task" says Neofytos. "[I]t is an aspect that contributors nowadays consider when making decisions within their projects". The degree to which onboarding policies have been adopted has had clear effects. At Akademy 2018, nearly 1 in 2 participants were new contributors and there was a notable increase in new e.V. member registrations compared to the previous year. These are but two signs that the onboarding team are contributing to building a wider, more engaged community.</p>

                            <p>As long as a community grows, it has to establish mechanisms to accommodate the new people who join. The onboarding team is well aware of this, and has formed a <a href="https://webchat.kde.org/#/room/#kde-welcome:kde.org">KDE Welcome team</a> that acts as the first contact for people interested in contributing to KDE. The members of the Welcome team respond to newcomers’ questions, offer them the much-needed help to go through their first steps of getting involved, and connect them with various KDE projects and teams.</p>

                            <p>The onboarding team is also putting in place the technical means by spearheading a migration from Phabricator to GitLab. They are also supporting a move to a Matrix-based instant messaging system; a move that will hopefully satisfy both the users of the classic IRC system and those who prefer more modern IM services, such as Telegram.</p>

                            <p>The team has also taken on the task of updating KDE community's web pages - another way of facilitating entry into the community. The <a href="https://community.kde.org/Get_Involved">Get Involved</a> page on our Community Wiki has been updated, and is actively maintained to successfully guide newcomers to the projects they would like to contribute to. The Wiki page now provides all the necessary information and documentation to get started. Furthermore, a documentation specialist has been hired in order to assess the state of KDE’s documentation, prioritize our needs, and pave the path for follow-up projects to execute the work.</p>

                            <p>Looking towards the future, the team is also planning an onboarding sprint. One of the things they plan to tackle is making it easier for newcomers to set up a development environment and start coding on KDE projects.</p>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                        <div class="service-info">
                            <h3>Conclusion</h3>
                        </div>
                    </div>
                </div>
                
                
                
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                        <div class="service-info">
                        
                            
                            <p>The goals selected by the KDE community have resonated with its members and given KDE something to work towards as a group.</p> 

                            <p>Of course, this does not mean that individual ambitions are hindered in any way. It is more like the elements of the goals get woven into the fabric of each project. Hence the usability team inspires project leaders to create user-friendly and consistent interfaces for their applications; the work of the onboarding team ensures continuity and protects against burnout by helping projects recruit new contributors; and the protection of users' data is not an afterthought, but is worked on from the start.</p>

                            <p>These goals contribute to giving the KDE community its focus, and make our overarching aim of building "a world in which everyone has control over their digital life and enjoys freedom and privacy" more attainable.</p>
                        </div>
                    </div>
                </div>
                

                <br/>
            </div>
        </div>
    </div>
    <br/>
</section>
