<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                    <h2><img src="images/logos/kde-pim-logo.png"/> KDE PIM Sprint, April 2018, Barcelona</h2>
                    <h5>Compiled from notes made by Dan Vratil, David Faure, Kevin Ottens, Volker Krause, Sandro Knauß and others</h5>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="">


            <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                        
                            <figure class="image-full">
                                <img  width="100%" src="images/sprints/PIM_20180421_144624.jpg" alt=""/>
                            </figure>  
                            
                            <p>Like every year, in 2018 the PIM developers met in Toulouse for a bit of bugfixing. We mended things in Kontact, Akonadi, Kmail, and beyond. We also had time for non-coding business, like handling outstanding review requests from new contributors.</p>
                            
                            <p>Here's a list of things we managed to cover:</p>
                            
                            <h3>Memory hole support</h3>
                            
                            <p>The big issue here is that we need to update the headers outside the mimetreeparser, like Subject or From/To fields. That's why mimetreeaparser should get an interface, so plugins can change headers. Another header that would benefit from that interface is a DKIM signature check on the mail that would update the DKIM status based on actual data.</p>
                            
                            <h3>KMail</h3>
                            
                            <p>We improved security when encountering encrypted emails with external references. We also discussed header validation support (memory hole, DKIM) and how to integrate it into mimetreeparser, as well as how to feed that into the mail renderer.</p>
                            
                            <h3>Akonadi</h3>
                            
                            <p>We improved Akonadi Console to simplify debugging notifications and monitors, and added a new Logging tab with logs from all Akonadi apps. The Debbugger view was also improved, and the Akonadi Search now supports searching for encrypted emails. </p>
                            
                            <p>We finished Notification Payloads - a change that will hopefully result in a substantial performance boost and IO reduction by easing on the amount of SQL queries we do, especially during sync. The idea is to send the changed entities as part of change notifications, so that clients don't have to query the entity from Akonadi after they receive the notification.</p>
                                                    
                            <figure class="image-right">
                                <img width="100%" src="images/sprints/KDE_PIM_Kintinerary.png" alt=""/>
                                <figcaption>KItinerary, Kontact's new trip-planning software, received improvements and new features.</figcaption>
                            </figure>
                            
                            <h3>KItinerary</h3>
                        
                            <p>The newcomer to the Kontact suite, KItinerary, helps you plan your travels and now tries harder to extract boarding times from pkpass files. We actually carried out a live test of the itinerary app passing manual and automatic boarding pass inspection on two airports. To supplement the live test, we acquired more test data from sprint attendees, and thanks to this, managed to make EasyJet IATA BCBP data parsing work. We also fixed the Iberia boarding pass extraction.</p>

                            <p>We implemented the handling of merging codeshare flight data, and reworked the data extraction in KMail when multiple data elements are found. This is now all merged together to further improve the data completeness. </p>

                            <p>The boarding passes/tickets for trains and buses are accessible in the app, too. In theory, this will enable the app to help you travel on SNCF when booked via trainline.eu. Finally, all the reservation data now gets attached to ical events created from it, so it's fully synced to other devices. </p>
                            
                            <h3>General Improvements</h3>
                            
                            <p>One of our ongoing efforts is migrating the PIM libraries to KDE Frameworks. We have removed dependencies on old libraries in the applications within Kontact. </p>
                            
                            <p>In the annoying bugs department, we fixed the issue that caused the IMAP resource to get stuck if the connection was lost between the OK and Login steps, as well as during Login. We also fixed the bug that could cause data loss when the connection was lost. </p>
                            
                            <p>In other departments, we created prettier icons for the Kontact side pane, corrected bugs in the OAuth login and Ruqola (the Qt-based RocketChat client), handled outstanding review requests from new contributors, and worked on integration the data generated in Kontact (calendars, tasks, etc.) with Android devices.</p>
                            
                            <p>We would like to thank all our sponsors and donators for making this sprint possible.</p>
                        </div>
                    </div>
                </div>


            
            </div>
        </div>
    </div>
    <br/>
</section>
